In [7]:
%load_ext autoreload
%autoreload 2

In [10]:
import pandas as pd
import forecast

In [18]:
forecast.alarm()

...checking forecast for Kolifornia...

Nope, nothing on the horizon :(

...checking forecast for Seabridge...

Yeewww, surf's up in Seabridge on 05-12-2024
Yeewww, surf's up in Seabridge on 06-12-2024
Yeewww, surf's up in Seabridge on 07-12-2024
Yeewww, surf's up in Seabridge on 08-12-2024
Yeewww, surf's up in Seabridge on 09-12-2024
Yeewww, surf's up in Seabridge on 10-12-2024
Yeewww, surf's up in Seabridge on 11-12-2024
Yeewww, surf's up in Seabridge on 12-12-2024

...checking forecast for Valhalla...

Nope, nothing on the horizon :(

...checking forecast for Borncold...

Nope, nothing on the horizon :(

In [3]:
lat = 54.1759
lon = 15.5833

In [4]:
df = forecast.request(lat,lon)

In [5]:
df

,sunrise,sunset,wind_speed (m/s),wind_gust (m/s),wind_deg (Â°),wind_dir
date,,,,,,
03-12-2024 10:00:00,06:57,14:37,6.74,11.50,206,SSW
04-12-2024 10:00:00,06:59,14:37,4.94,5.81,53,NE
05-12-2024 10:00:00,07:00,14:36,8.08,12.83,166,SSE
06-12-2024 10:00:00,07:01,14:36,12.61,19.99,156,SSE
07-12-2024 10:00:00,07:03,14:35,11.05,16.55,309,NW
08-12-2024 10:00:00,07:04,14:35,12.85,18.43,187,S
09-12-2024 10:00:00,07:05,14:34,11.51,14.42,9,N
10-12-2024 10:00:00,07:06,14:34,11.10,13.12,6,N

In [6]:
spots = { "Kolifornia" : { "lat" : 54.1759, "lon" : 15.5833, "wind_window" : [225,350]} ,
         "Seabridge" : { "lat" : 54.4022 , "lon" : 13.6060 , "wind_window" : [10,170]},
         "Valhalla" : { "lat" : 54.3929, "lon": 13.6803, "wind_window" : [0,45]},
         "Borncold" : { "lat" : 54.1414 , "lon" : 11.7530, "wind_window" : [225,350]}
        }

#df.reset_index(inplace=True)

def color_rows(row):
    if (row["wind_speed (m/s)"]*3.6 > 30) and (row["wind_gust (m/s)"]*3.6 > 40) and (
                spots["Kolifornia"]["wind_window"][0] <= row["wind_deg (Â°)"] <= spots["Kolifornia"]["wind_window"][1]):
        return ['background-color: lightcoral'] * len(row)
    else:
        return ['background-color: white'] * len(row)
    
df.style.apply(color_rows, axis=1)